body {
    height: 2000px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd;
}

nav {
    background-color: lightgrey;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.popup {
    background-color: grey;
    position: fixed;
    top: 200px;
    left: 400px;
    right: 400px;
    bottom: 200px;
    opacity: 0.8;
}

.close {
background-color: white;
border-radius: 50%;
width: 30px;
height: 30px;
position: absolute;
top: -15px;
right: -15px;
border: 5px solid grey;
cursor:pointer;
}