body {
    height: 2000px;
}

nav {
    background-color: grey;
    position: fixed;
    top: 200px;
    left: 400px;
    right: 400px;
    bottom: 200px;
    opacity: 0.8;
}

.close {
background-color: white;
border-radius: 50%;
width: 30px;
height: 30px;
position: absolute;
top: -15px;
right: -15px;
border: 5px solid grey;
cursor:pointer;
}