/* Format animation

@keyframes [name] {
    from {
        [property-css]
    }

    to {
    [property-css]
    }
}

/* animation:
[name], [duration], [timing-function], [delay], [iteration-count], [direction], [fill-mode], [play-state]
*/

.kotak {
    width: 200px;
    height: 200px;
    background-color: orange;
    animation: boxAnimation 2s ease infinite alternate forwardsv;
}

@keyframes boxAnimation {
    0% {
        width: 200px;
    }

    50% {
        width: 500px;
        height: 200px;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}