body {
    background-image: url(../img/background.png);
}

.container {
    margin-bottom: 50px;
}

.box1 {
    width: 200px;    
    height: 200px;
    background-color: orange;
    opacity: 0.5;
    position: relative;
}

/* ? Di dalam css ini terdapat penerapan dari opacity terhadap elemen html yang dibuat, namun dikasus ini kita tidak bisa merubah child elemen menjadi solid karena akan mengikuuti parentnnya yang memiliki opacity  */

.box2 {
    width: 100px;    
    height: 100px;
    background-color: navy;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.box3 {
    width: 200px;    
    height: 200px;
    /* ? Solusi agar boc child tidak terpengaruh opacity dari parentnya maka solusinya adalah bisa menggunakan porperty yang bernaam RGBa atau HSLa */
    background-color: RGBa(255, 165, 0, 0.4);
    position: relative;
}

.box4 {
    width: 100px;    
    height: 100px;
    background-color: navy;
    position: absolute;
    right: -50px;
    bottom: -50px;
}