.container {
    width: 600px;
    margin: auto;
    border: 2px solid black;
    padding: 5px;
}

/* ? Case disini adalah pembuatan untuk image galerry menggunakan float */
.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 10px;
    float: left;
    text-align: center;
    line-height: 100px;
}

/* ? Cara mengatasi overflowing pada float kita bisa menggunakan property yang bernama clear untuk membersihkan float tersebut */

/* ! Namun dengan menggunakan div kosong itu tidak disarankan karena akan membuat code yang kita buat menjadi tidak rapih. Ada cara lain untuk mengatasi hal tersebut, yaitu dengan menggunakan "micro clearfix" di bawah ini */

/* ? Cara menggunakannya yaitu dengan menambahkan class cf pada container */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}