h1 {
  color: #ff7300;
  font-size: 100px;
}
p {
  text-align: justify;
  text-indent: 30px;
  text-decoration: underline;
  text-transform: capitalize;
  word-spacing: 10px;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
